---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { getYearsFromFoodType } from "@utils/collections";
import type { FoodItem } from "@content/config";

const { foodType } = Astro.params;

const years = await getYearsFromFoodType(foodType! as FoodItem["type"]);
const capitalize = (str: string) => str.charAt(0).toUpperCase() + str.slice(1);
---

<Layout>
  <Header />
  <Main
    pageTitle={`Portland ${foodType ? capitalize(foodType) : "Food"} Weeks`}
    hideFilters
  >
    <ul>
      {
        years.map(year => (
          <li>
            <wa-button href={`/${foodType}/${year}`} appearance="plain">
              <div class="wa-body-xl">{year}</div>
            </wa-button>
          </li>
        ))
      }
    </ul>
  </Main>
</Layout>
