---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { Image } from "astro:assets";

import heroImage from "../assets/images/Neon 80s Style Food.webp";
const username = Astro.locals.user?.username;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <div class="flex flex-col gap-2 pb-12">
        <h1 class="font-300 text-base-content pb-8 pt-4 text-center text-3xl">
          {`Welcome to PDX Food Weeks${username ? ", " + username : ""}!`}
        </h1>
        <div class="flex flex-col gap-12 md:flex-row">
          <div class="flex w-full items-center justify-center md:w-1/2">
            <Image
              src={heroImage}
              alt="PDX Food Weeks Hero Image"
              width={536}
              height={536}
              class="rounded-2xl shadow-xl"
              sizes="(max-width: 768px) 398px, 536px"
            />
          </div>
          <div class="flex w-full flex-col gap-6 md:w-1/2">
            <p class="prose">
              Welcome, fellow foodies, to a celebration of Portland's much-loved
              food weeks put on by local organizers! Here, we're all about
              celebrating the iconic PDX Burger Week, the cheesy goodness of PDX
              Nachos Week, the craft and creativity of PDX Sandwich Week, the
              saucy PDX Pizza Week, and many more!
            </p>
            <p class="prose">
              The site was created to help people filter the options by
              neighborhood and dietary restrictions, while showcasing the
              beautiful creations from each vendor.
            </p>

            <div class="w-100 flex flex-col gap-1">
              <Image
                src="https://d2sa0osf92td39.cloudfront.net/eyJidWNrZXQiOiAiZXZlcm91dC1pbWFnZXMtcHJvZHVjdGlvbiIsICJrZXkiOiAiaW1hZ2UtMTc1Mjc5MDE4OTA5NjYzOC05NzB4MjUwLU1lcmNCVzI1LnBuZyIsICJlZGl0cyI6IHsicmVzaXplIjogeyJmaXQiOiAiaW5zaWRlIiwgInBvc2l0aW9uIjogImNlbnRyZSIsICJ3aWR0aCI6IDk2MCwgImhlaWdodCI6IDYwMCwgIndpdGhvdXRFbmxhcmdlbWVudCI6IGZhbHNlfSwgInJvdGF0ZSI6IG51bGx9fQ=="
                width="536"
                height="138"
                class="rounded-lg shadow"
                alt="PDX Burger Week 2025"
                sizes="(max-width: 768px) 398px, 536px"
              />
              <p class="py-2">
                <a
                  class="link"
                  href="https://everout.com/portland/events/the-portland-mercurys-burger-week-2025/e205791/"
                  target="_blank">PDX Burger Week by Portland Mercury</a
                >. From August 11 - August 17.
              </p>

              <wa-button
                appearance="accent"
                variant="brand"
                size="large"
                href="/burger/2025">Check out the burgers</wa-button
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  #hero h1 {
    text-shadow:
      0 0 1px rgba(255, 0, 183, 1),
      0 0 3px rgba(255, 0, 183, 0.6),
      0 0 5px rgba(255, 0, 183, 0.5),
      0 0 7px rgba(255, 0, 183, 0.4),
      0 0 9px rgba(255, 0, 183, 0.3),
      0 0 11px rgba(255, 0, 183, 0.2),
      0 0 13px rgba(255, 0, 183, 0.1);

    [data-theme="cupcake"] & {
      color: white;
    }
  }
</style>
