---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Hr from "@components/Hr.astro";
import { Image } from "astro:assets";

import heroImage from "../assets/images/Neon 80s Style Food.webp";
const username = Astro.locals.user?.username;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <div class="flex flex-col gap-2 pb-12">
        <h1 class="font-300 text-base-content pb-8 pt-4 text-center text-3xl">
          {`Welcome to PDX Food Weeks${username ? ", " + username : ""}!`}
        </h1>
        <div class="flex flex-col gap-12 md:flex-row">
          <div class="flex w-full items-center justify-center md:w-1/2">
            <Image
              src={heroImage}
              alt="PDX Food Weeks Hero Image"
              class="rounded-2xl shadow-xl"
            />
          </div>
          <div class="flex w-full flex-col md:w-1/2">
            <p>
              Welcome, fellow foodies, to a celebration of Portland's much-loved
              food weeks put on by Portland Mercury! Here, we're all about
              celebrating the iconic PDX Burger Week, the cheesy goodness of PDX
              Nachos Week, and the craft and creativity of PDX Sandwich Week.
            </p>
            <p>
              The site was created to help people filter the options by
              neighborhood and dietary restrictions, while showcasing the
              beautiful creations from each vendor.
            </p>

            <Hr />

            <div class="w-100 flex flex-col gap-1">
              <img
                src="https://d2sa0osf92td39.cloudfront.net/eyJidWNrZXQiOiAiZXZlcm91dC1pbWFnZXMtcHJvZHVjdGlvbiIsICJrZXkiOiAiaW1hZ2UtMTcwNzE4MTExNjA2NTcxNC1TYW5kd2ljaFdlZWsyNC05NzB4MjUwLmpwZyIsICJlZGl0cyI6IHsicmVzaXplIjogeyJmaXQiOiAiaW5zaWRlIiwgInBvc2l0aW9uIjogImNlbnRyZSIsICJ3aWR0aCI6IDk2MCwgImhlaWdodCI6IDYwMH19fQ=="
                class="rounded-lg shadow"
              />
              <p class="py-2">
                <a
                  class="link"
                  href="https://everout.com/portland/events/the-portland-mercurys-sandwich-week/e167434/"
                  target="_blank">Portland Mercury's Sandwich Week</a
                > is back! From February 22 - February 25, enjoy $8 sandos.
              </p>
              <a class="btn btn-primary" href="/sandwich/2024"
                >Check out the Sandos</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  #hero h1 {
    text-shadow:
      0 0 1px rgba(255, 0, 183, 1),
      0 0 3px rgba(255, 0, 183, 0.6),
      0 0 5px rgba(255, 0, 183, 0.5),
      0 0 7px rgba(255, 0, 183, 0.4),
      0 0 9px rgba(255, 0, 183, 0.3),
      0 0 11px rgba(255, 0, 183, 0.2),
      0 0 13px rgba(255, 0, 183, 0.1);

    [data-theme="cupcake"] & {
      color: white;
    }
  }
</style>
