---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";

if (Astro.locals.user) {
  return Astro.redirect("/");
}
---

<Layout>
  <Header />
  <main id="main-content">
    <div class="flex w-full h-full justify-center items-center flex-col gap-5">
      <h1 class="text-2xl">Sign In</h1>
      <form
        method="post"
        action="/api/login"
        class="flex flex-col gap-3 max-w-sm items-start"
      >
        <wa-input
          placeholder="username"
          size="large"
          type="text"
          name="username"
        >
          <wa-icon name="user" variant="solid" slot="prefix"></wa-icon>
        </wa-input>

        <wa-input
          placeholder="password"
          size="large"
          type="password"
          name="password"
        >
          <wa-icon name="lock" variant="solid" slot="prefix"></wa-icon>
        </wa-input>

        <wa-button type="submit" appearance="primary">Continue</wa-button>
        <p id="form-error"></p>
      </form>

      <p>
        No account yet? <a href="/signup" class="link-accent"
          >Create an account</a
        >
      </p>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  const errorMessageElement = document.getElementById("form-error")!;

  document.forms[0].addEventListener("submit", async e => {
    e.preventDefault();
    errorMessageElement.innerText = "";
    const formElement = e.target as HTMLFormElement;
    const response = await fetch(formElement.action, {
      method: formElement.method,
      body: new FormData(formElement),
    });
    if (response.ok) {
      window.location.href = "/";
    } else {
      errorMessageElement.innerText = (await response.json()).error;
    }
  });
</script>
