---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
import { getCollection, getEntry } from "astro:content";
import CardGrid from "../../components/CardGrid.astro";
import { getUniqueNeighborhoods } from "@utils/collections";

const { year } = Astro.params;

// filter to get the burger collection for the year
const nachos = await getEntry("nachos", year);
const neighborhoods = nachos
  ? getUniqueNeighborhoods<"nachos">(nachos.data)
  : [];

export async function getStaticPaths() {
  const nachoCollections = await getCollection("nachos");
  return nachoCollections.map(nachoCollection => {
    return {
      params: {
        year: nachoCollection.id + "",
      },
    };
  });
}
---

<Layout
  title={`PDX Nacho Week ${year}`}
  description="A fan site celebrating PDX Nacho Week"
>
  <Header />
  <Main pageTitle={`Nachos ${year}`} neighborhoods={neighborhoods}>
    {nachos?.data && <CardGrid items={nachos?.data} />}
  </Main>
  <Footer />
</Layout>
