---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
import CardGrid from "../../components/CardGrid.astro";
import { getPaths, getUniqueNeighborhoods } from "@utils/collections";
import { db, Food, eq, and } from "astro:db";
import type { FoodItem } from "types";

const { year } = Astro.params;

const nachos = (await db
  .select()
  .from(Food)
  .where(
    and(eq(Food.year, parseInt(year)), eq(Food.type, "nacho"))
  )) as unknown as FoodItem[];
const neighborhoods = nachos ? getUniqueNeighborhoods(nachos) : [];

export async function getStaticPaths() {
  const result = await db
    .select({ year: Food.year })
    .from(Food)
    .where(eq(Food.type, "nacho"));
  return getPaths(result);
}
---

<Layout
  title={`PDX Nacho Week ${year}`}
  description="A fan site celebrating PDX Nacho Week"
>
  <Header />
  <Main pageTitle={`Nachos ${year}`} neighborhoods={neighborhoods}>
    {nachos && <CardGrid items={nachos} />}
  </Main>
  <Footer />
</Layout>
