<form class="flex gap-2 items-start" id="addListForm">
  <wa-input name="name"></wa-input>
  <wa-button type="submit" appearance="accent" variant="brand">
    Create a list
  </wa-button>
</form>

<script>
  document
    .getElementById("addListForm")
    ?.addEventListener("submit", function (e) {
      e.preventDefault();
      if (e.target instanceof HTMLFormElement) {
        const formData = new FormData(e.target);
        fetch("/api/lists/create", {
          method: "POST",
          body: formData,
        }).then(() => window.location.reload());
      }
    });
</script>
