---
import FilterSet from "./FilterSet.astro";

type Props = {
  neighborhoods?: string[];
};

const { neighborhoods } = Astro.props;
---

<div class="flex gap-5">
  <FilterSet filterKey="dietary" />
  <FilterSet filterKey="neighborhoods" neighborhoods={neighborhoods} />
</div>

<script src="../scripts/filter-cards.ts"></script>
