---
import FilterSet from "./FilterSet.astro";

type Props = {
  neighborhoods?: string[];
};

const { neighborhoods } = Astro.props;
---

<div class="collapse">
  <input type="checkbox" />

  <div
    class="collapse-title text-xl font-medium flex gap-2 items-center justify-end p-0"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 transform rotate-0 transition-transform duration-200 ease-in-out"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75"
      ></path>
    </svg>
    Filters
  </div>

  <div class="collapse-content">
    <div class="flex flex-col gap-5 lg:gap-8">
      <FilterSet filterKey="dietary" />
      <FilterSet filterKey="neighborhoods" neighborhoods={neighborhoods} />
    </div>
  </div>
</div>

<style>
  input[type="checkbox"]:checked + div > svg {
    @apply transform rotate-90;
  }
</style>

<script src="../scripts/filter-cards.ts"></script>
