---
const KEY_VS_FILTER_SET = {
  dietary: ["vegan", "vegetarian", "gf"],
  neighborhoods: ["north", "northwest", "northeast", "southeast", "downtown"],
};

type Props = {
  filterKey: keyof typeof KEY_VS_FILTER_SET;
  dietary?: string[];
  neighborhoods?: string[];
};

const {
  filterKey,
  dietary = KEY_VS_FILTER_SET.dietary,
  neighborhoods = KEY_VS_FILTER_SET.neighborhoods,
} = Astro.props;

const filters = filterKey === "neighborhoods" ? neighborhoods : dietary;
---

<div class="flex gap-2 justify-end flex-wrap w-1/2">
  <wa-select
    label={filterKey.toUpperCase()}
    multiple
    clearable
    size="small"
    data-filter-key={filterKey}
  >
    {
      filters?.map(item => (
        <wa-option value={item.replace(" ", "_").replace("-", "_")}>
          {item.toUpperCase()}
        </wa-option>
      ))
    }
  </wa-select>
</div>

<style>
  wa-select {
    @apply w-full;
  }
</style>
