---
import Hr from "./Hr.astro";

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`w-full ${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="flex items-center justify-center py-6 sm:py-4">
    <p class="text-sm">
      <span
        >Made with ❤️ by <a
          class="link"
          href="https://joelmturner.com"
          target="_blank"
          rel="nofollow noopener noreferrer">joelmturner</a
        ></span
      >
      <span class="separator">&nbsp;|&nbsp;</span>
      <span>All images and content are copyright Portland Mercury.</span>
    </p>
  </div>
</footer>
