---
import Hr from "./Hr.astro";
import NavItems from "./NavItems.astro";
import { Image } from "astro:assets";
import logo from "@assets/images/FoodWeeksLogo.png";

export interface Props {
  activeNav?: "burgers" | "nachos" | "about" | "sandwich";
}

const { activeNav } = Astro.props;
---

<header class="z-10">
  <a id="skip-to-content" href="#main-content">Skip to content</a>
  <div class="text-base-content">
    <div class="navbar max-w-6xl mx-auto">
      <div class="flex-1">
        <a class="text-xl" href="/">
          <Image
            src={logo}
            alt="PDX Food Weeks neon glow Logo"
            height="80"
            class="light:bg-slate-900 dark:bg-transparent"
            data-id="logo"
          />
        </a>
      </div>

      <div class="flex-none md:block hidden">
        <NavItems activeNav={activeNav} type="desktop" />
      </div>

      <div class="flex-none md:hidden">
        <wa-drawer with-header class="drawer-header">
          <NavItems activeNav={activeNav} type="mobile" />
        </wa-drawer>
        <wa-button appearance="plain">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path></svg
          >
        </wa-button>
      </div>
    </div>
  </div>
  <Hr exclude={{ top: true }} />
</header>

<script>
  const drawer = document.querySelector(".drawer-header");
  const openButton = drawer?.nextElementSibling;

  openButton?.addEventListener("click", () => {
    // @ts-ignore-next-line
    if (drawer) drawer.open = true;
  });
</script>

<style>
  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-accent px-3 py-2 text-base-100 transition-all focus:top-4;
  }
  wa-drawer::part(close-button) {
    @apply text-2xl;
  }
</style>
