---
import { ADMIN_NAV_ITEMS } from "../constants";
---

<div class="flex gap-4">
  {
    ADMIN_NAV_ITEMS.map(item => (
      <a href={item.href} class="link link-hover text-primary-content">
        {item.label}
      </a>
    ))
  }
</div>
