---
import DataForm from "@components/DataForm.svelte";
import Layout from "@layouts/Layout.astro";

if (!Astro.locals.user || Astro.locals.user.role !== "admin") {
  return Astro.redirect("/");
}

const { foodType } = Astro.params;
---

<Layout>
  <header class="p-4">
    <div class="text-base-content max-w-6xl mx-auto">
      <h1 class="text-3xl"><a href="/admin">Admin</a></h1>
    </div>
  </header>
  <main
    class="max-w-6xl mx-auto align-left w-full flex flex-col gap-8"
    card-edit={null}
  >
    <h2 class="text-2xl">{foodType}</h2>
    <DataForm client:load />
  </main>
</Layout>
