---
import Layout from "@layouts/Layout.astro";

if (!Astro.locals.user || Astro.locals.user.role !== "admin") {
  return Astro.redirect("/");
}
---

<Layout>
  <header class="p-4">
    <div class="text-base-content max-w-6xl mx-auto">
      <h1 class="text-3xl">Admin</h1>
    </div>
  </header>
  <main class="max-w-6xl mx-auto align-left w-full" card-edit={null}>
    <h2 class="text-2xl">Edit Da Foods</h2>
    <div class="grid gap-4 grid-cols-3">
      {
        ["sandwich", "burger", "nacho", "pizza", "wing"].map(item => (
          <div class="card bg-base-300">
            <div class="card-body gap-3">
              <div class="card-title">
                <a href={`/admin/${item}`}>{item}</a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
