---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
import CardGrid from "../../components/CardGrid.astro";
import { getPaths, getUniqueNeighborhoods } from "@utils/collections";
import { db, Sandwiches, like } from "astro:db";

const { year } = Astro.params;

const sandwiches = await db
  .select()
  .from(Sandwiches)
  .where(like(Sandwiches.year, year));

const neighborhoods = sandwiches ? getUniqueNeighborhoods(sandwiches) : [];

export async function getStaticPaths() {
  const result = await db.select({ year: Sandwiches.year }).from(Sandwiches);
  return getPaths(result);
}
---

<Layout
  title={`PDX Sandwich Week ${year}`}
  description="A fan site celebrating PDX Sandwich Week"
>
  <Header />
  <Main pageTitle={`Sandwiches ${year}`} neighborhoods={neighborhoods}>
    {sandwiches && <CardGrid items={sandwiches} />}
  </Main>
  <Footer />
</Layout>
